.skills{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.skills-section{
    display: flex;
    justify-content: space-between;

}
.skills-list{
    flex:1;
    flex-direction: row;
}