.footer{
    display: flex;
    flex: 1;
    height:60px;
    width: 100%;
    background-color:rgba(6, 41, 116, 0.904);
    align-items: center;
    justify-content: center;
}
.trademark{
   color: oldlace;
   font-size: 16px;
   font-weight: 600;
}